@model BookViewModel

@{
    ViewBag.Title = "Detail";
}


<h2>Book Detail.</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastRentOn)
        </dt>
        <dd>
            @if (Model.LastRentOn.Year > 1900)
            {
                @Html.DisplayFor(model => model.LastRentOn)
            }
        </dd>
    </dl>
</div>

<h4>List of rent history of this book</h4>
@if (!Model.RentHistoryList.Any())
{
    <hr />
    <p>No history found.</p>
}
<table class="table">
    <tr>
        <th>
            User Name
        </th>
        <th>
            Rent On
        </th>
        <th>
            Returned On
        </th>
    </tr>
    @foreach (var item in Model.RentHistoryList)
    {
        <tr>
            <td>
                @item.UserName
            </td>
            <td>
                @Html.DisplayFor(m => item.RentOn)
            </td>
            <td>
                @if (item.ReturnedOn.Year > 1900)
                {
                    @Html.DisplayFor(m => item.ReturnedOn)
                }
            </td>

        </tr>
    }
</table>
<p>
    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.ISBN }, new { @class = "btn btn-primary" })
        }
        else
        {
            if (Model.Status == SimpleLibrary.Common.Enums.BookStatus.Rent)
            {
                @Html.ActionLink("Return", "Return", new { id = Model.ISBN }, new { @class = "btn btn-info" })
            }
            else
            {
                @Html.ActionLink("Rent this book", "Rent", new { id = Model.ISBN }, new { @class = "btn btn-warning" })
            }
        }
    }
    @Html.ActionLink("Back to List", "Index")
</p>
